/node_modules
/public/hot
/public/storage
/public
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/private/
/public/cases_documents
/public/cases_images
/public/contracts
/public/investigation_images
/public/lawyers_files
/public/users_images
/public/logos
composer.lock
avocatoa_test.sql